<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
        http://www.springframework.org/schema/context
 http://www.springframework.org/schema/context/spring-context-3.1.xsd">
    <!-- 配置springmvc -->
    <!-- 1:开启springmvc注解模式 -->
    <!-- 简化配置: (1)自动注册DefaultAnnotationHandlerMapping,AnnotationMethodHandlerAdapter
        (2)提供一系列:数据绑定,数字和日期的format @NumberFormat,@DataTimeFormat,xml,json默认读写支持 -->
    <mvc:annotation-driven/>
    <!-- servlet-mapping 映射路径:"/" -->
    <!-- 2:静态资源默认servlet配置 1:加入对静态资源的处理:js,gif,png 2:允许使用"/"做整体映射 -->
    <mvc:default-servlet-handler/>

    <!-- 装配拦截器 -->
    <mvc:interceptors>
        <mvc:interceptor>
            <!--客户端请求日志-->
            <mvc:mapping path="/**"/>
            <bean class="com.dadao.common.interceptor.LoggerInterceptor"></bean>
        </mvc:interceptor>
    </mvc:interceptors>

    <!-- ViewResolver -->
    <bean class="org.springframework.web.servlet.view.ContentNegotiatingViewResolver">
        <property name="defaultViews">
            <list>
                <!-- 输出为JSON数据 -->
                <bean class="org.springframework.web.servlet.view.json.MappingJackson2JsonView"></bean>
            </list>
        </property>
    </bean>

    <!-- 4:扫描web相关的bean -->
    <context:component-scan base-package="com.dadao.*.controller"/>

    <!-- 文件上传 -->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver"/>

    <mvc:cors>
        <mvc:mapping path="/**"/>
    </mvc:cors>
</beans>