<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dadao.shop.mapper.IShopGoodsMapper">
    <select id="findById" parameterType="java.lang.Long" resultType="com.dadao.shop.entity.vo.ShopGoodsVO">
        SELECT * FROM gt_shop_goods WHERE id=#{goodsId}
    </select>
</mapper>