<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dadao.withdraw.mapper.IWithdrawApplicationMapper">

    <insert id="save" parameterType="com.dadao.withdraw.entity.WithdrawApplicationPO">
        INSERT INTO withdraw_application
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId!=null">
                userId,
            </if>
            <if test="cardId != null">
                cardId,
            </if>
            <if test="taxMoney!=null">
                taxMoney,
            </if>
            <if test="platformFee!=null">
                platformFee,
            </if>
            <if test="applicationMoney!=null">
                applicationMoney,
            </if>
            <if test="reallyMoney!=null">
                reallyMoney,
            </if>
            <if test="status!=null">
                status,
            </if>
            <if test="description!=null">
                description,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId!=null">
                #{userId},
            </if>
            <if test="cardId != null">
                #{cardId},
            </if>
            <if test="taxMoney!=null">
                #{taxMoney},
            </if>
            <if test="platformFee!=null">
                #{platformFee},
            </if>
            <if test="applicationMoney!=null">
                #{applicationMoney},
            </if>
            <if test="reallyMoney!=null">
                #{reallyMoney},
            </if>
            <if test="status!=null">
                #{status},
            </if>
            <if test="description!=null">
                #{description},
            </if>
        </trim>
    </insert>

    <update id="update" parameterType="com.dadao.withdraw.entity.WithdrawApplicationPO">
        UPDATE withdraw_application
        <set>
            <if test="status!=null">
                status=#{status},
            </if>
            <if test="description!=null">
                description=#{description},
            </if>
        </set>
        WHERE withdrawId=#{withdrawId}
    </update>

    <select id="findByPage" resultType="com.dadao.withdraw.entity.WithdrawList"
            parameterType="com.dadao.withdraw.entity.WithdrawList">
        SELECT b.withdrawId,b.createTime,b.status,
        CONCAT(a.bankname,'(',RIGHT(a.bankCardnumber,4),')') as banknameAndcardnumber
        ,b.applicationMoney,b.reallyMoney,a.bankCardLogo
        FROM user_bankcard a LEFT JOIN withdraw_application b ON a.cardid=b.cardid WHERE b.userid=#{userId}
        ORDER BY createTime DESC
        LIMIT #{beginIndex},#{pageSize}
    </select>

    <select id="findCount" resultType="java.lang.Long" parameterType="com.dadao.withdraw.entity.WithdrawList">
         SELECT
         COUNT(0)
         FROM user_bankcard a LEFT JOIN withdraw_application b ON a.cardid=b.cardid WHERE b.userid=#{userId}
    </select>
</mapper>