<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dadao.user.mapper.IUserTransactionRecodMapper">
    <insert id="save" parameterType="com.dadao.user.entity.UserTransactionRecodPO" keyProperty="transactionId">
        INSERT INTO user_transaction_recod
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                userId,
            </if>
            <if test="transactionType != null">
                transactionType,
            </if>
            <if test="otherAccount != null">
                otherAccount,
            </if>
            <if test="transactionAmount != null">
                transactionAmount,
            </if>
            <if test="transactionDetails != null">
                transactionDetails,
            </if>
            <if test="expenditureIncome != null">
                expenditureIncome,
            </if>
            <if test="payMethod != null">
                payMethod,
            </if>
            <if test="payCanalFee != null">
                payCanalFee,
            </if>
            <if test="serialNumber != null">
                serialNumber,
            </if>
            <if test="commission != null">
                commission,
            </if>
            <if test="actualIncome != null">
                actualIncome,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                #{userId},
            </if>
            <if test="transactionType != null">
                #{transactionType},
            </if>
            <if test="otherAccount != null">
                #{otherAccount},
            </if>
            <if test="transactionAmount != null">
                #{transactionAmount},
            </if>
            <if test="transactionDetails != null">
                #{transactionDetails},
            </if>
            <if test="expenditureIncome != null">
                #{expenditureIncome},
            </if>
            <if test="payMethod != null">
                #{payMethod},
            </if>
            <if test="payCanalFee != null">
                #{payCanalFee},
            </if>
            <if test="serialNumber != null">
                #{serialNumber},
            </if>
            <if test="commission != null">
                #{commission},
            </if>
            <if test="actualIncome != null">
                #{actualIncome},
            </if>
        </trim>
    </insert>
</mapper>