<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dadao.transaction.mapper.TransactionRecordMapper">

    <sql id="Base_Column_List">
      transactionId, otherAccount, transactionType, transactionAmount, transactionDetails, createtime, expenditureIncome, userId, payMethod, payCanalFee, serialNumber
    </sql>

    <select id="findByEntity" parameterType="java.lang.Long"
            resultType="com.dadao.transaction.entity.TransactionRecord">
        select
        <include refid="Base_Column_List"/>
        from user_transaction_recod
        where userId = #{userId} and expenditureIncome = 1 ORDER BY createtime desc
    </select>

    <select id="findById" parameterType="java.lang.Long"
            resultType="com.dadao.transaction.entity.TransactionRecord">
        select
        <include refid="Base_Column_List"/>
        from user_transaction_recod
        where transactionId = #{transactionId}
    </select>
</mapper>