<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dadao.city.mapper.PubCityMapper">

    <!-- 查询字段列表 -->
    <sql id="Base_Column_List">
        id, name, pid
    </sql>

    <select id="findByPid" resultType="com.dadao.city.vo.PubCityVO"
            parameterType="com.dadao.city.entity.PubCity">
        select
        <include refid="Base_Column_List"/>
        from
        pub_city where
        pid = #{pid}
    </select>

    <select id="findById" resultType="com.dadao.city.entity.PubCity">
        select
        <include refid="Base_Column_List"/>
        from
        pub_city where
        id = #{id}
    </select>
</mapper>